In [48]:
import pandas as pd

#import Amazon dataset
Amazon_review = pd.read_csv('Reviews.csv')

#View current data set
Amazon_review.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,153628,B001E5E10A,ABE0OJ80DA7SZ,M. Comstock,1,1,5,1220313600,SPORTea,We have a Michigan-based coffee cafe (now rena...
1,153629,B001E5E10A,A2BRM56W7F6CN3,D. Edwards,1,1,5,1209340800,Love it...start making bigger boxes!,"I don't drink a lot of flavored k-cups, but pe..."
2,153630,B001E5E10A,A3FDYB1DZWFJZN,Grape Grower,1,1,5,1208476800,Great product - great price,"I don't drink a lot of flavored k-cups, but pe..."
3,153631,B001E5E10A,A2P9BRUSUIYDUA,Kaye Marschke,1,1,5,1200268800,Great tasting tea,I tried the Frooties mBerry and the effect las...
4,153632,B001E5E10A,A3D6VRKNBMRG3N,funky folk art,1,1,5,1187136000,sport tea,"Being married to a person from England, as mos..."

In [49]:
#We only need the review summaries and texts, drop make a new one.
Reviews_processed = pd.DataFrame()
Reviews_processed = Amazon_review['Text']

#Free the memory of non-using dataframes.
del[[Amazon_review]]

#Drop all NaN value for integrity
Reviews_processed = Reviews_processed.dropna(axis=0)
Reviews_processed.head()

0    We have a Michigan-based coffee cafe (now rena...
1    I don't drink a lot of flavored k-cups, but pe...
2    I don't drink a lot of flavored k-cups, but pe...
3    I tried the Frooties mBerry and the effect las...
4    Being married to a person from England, as mos...
Name: Text, dtype: object

In [50]:
#Import pretrained NLP modules to precess text sentiment data.
from transformers import pipeline

#Make sure you have GPU
sentiment_analysis = pipeline('sentiment-analysis', device=0)

No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english)

In [4]:
#Processing text data's sentiment score from our dataset.csv
score_text = []

for sent in Reviews_processed:
    score_text.append(sentiment_analysis(sent)[i])
    
print("Done!")

C:\Codes\ANACONDA\lib\site-packages\transformers\pipelines\base.py:908: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

Done!

In [31]:
#Now list has all the label and value {Made mistake on that but I know how to deal with this.}
#Make a new set of data and take average
text = pd.DataFrame(score_text)
text.to_csv('text_score.csv')

In [42]:
text = pd.read_csv('text_score.csv')
display(text)

           LABEL  SCORE
0       NEGATIVE  0.998
1       NEGATIVE  0.679
2       NEGATIVE  0.679
3       NEGATIVE  0.993
4       POSITIVE  0.999
...          ...    ...
414800  NEGATIVE  0.993
414801  POSITIVE  0.999
414802  POSITIVE  0.999
414803  POSITIVE  0.999
414804  NEGATIVE  0.999

[414805 rows x 2 columns]